<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting value="true" name="cacheEnabled" /> 				<!-- default : true -->
        <setting value="true" name="lazyLoadingEnabled" />   		<!-- default : true -->
        <setting value="true" name="multipleResultSetsEnabled" /> 	<!-- default : true -->
        <setting value="true" name="useColumnLabel" />   			<!-- default : true -->
        <setting value="false" name="useGeneratedKeys" /> 			<!-- default : false -->
        <setting value="PARTIAL" name="autoMappingBehavior" />    	<!-- default : PARTIAL -->
        <setting value="25000" name="defaultStatementTimeout" />	<!-- default : none -->
        <setting value="SIMPLE" name="defaultExecutorType" />      	<!-- default : SIMPLE  -->
        <setting value="true" name="mapUnderscoreToCamelCase"  />   <!-- default : true -->
    </settings>

    <typeAliases>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

</configuration>