<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <settings>
        <setting value="true" name="cacheEnabled"></setting> 				<!-- default : true -->
        <setting value="true" name="lazyLoadingEnabled"></setting>   		<!-- default : true -->
        <setting value="true" name="multipleResultSetsEnabled"></setting> 	<!-- default : true -->
        <setting value="true" name="useColumnLabel"></setting>   			<!-- default : true -->
        <setting value="false" name="useGeneratedKeys"></setting> 			<!-- default : false -->
        <setting value="FULL" name="autoMappingBehavior"></setting>    	<!-- default : PARTIAL -->
        <setting value="25000" name="defaultStatementTimeout"></setting>	<!-- default : none -->
        <setting value="SIMPLE" name="defaultExecutorType"></setting>      	<!-- default : SIMPLE  -->
    </settings>

    <typeAliases>
    </typeAliases>

    <typeHandlers>
    </typeHandlers>

</configuration>