<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:global-method-security secured-annotations="enabled" />

    <sec:http pattern="/assets/**" security="none" />
    <sec:http pattern="/components/**" security="none" />
    <sec:http pattern="/app/**" security="none" />

    <bean id="authenticationSuccessHandler"
          class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="targetUrlParameter" value="redirect" />
    </bean>

    <sec:http use-expressions="true" auto-config="true"  authentication-manager-ref="authenticationManager"
              entry-point-ref="customAwareLoginUrlAuthenticationEntryPoint">
        <sec:intercept-url pattern="/**" access="permitAll" />
        <sec:form-login login-page="/user/login" login-processing-url="/user/login/process"
                        username-parameter="email" password-parameter="password" />
        <sec:logout logout-url="/user/logout" delete-cookies="J_SESSIONID" />
        <sec:remember-me key="OkJsp01051354" user-service-ref="userServiceImpl" />
        <sec:logout />
    </sec:http>

    <bean id="saltSource"
          class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <property name="userPropertyToUse" value="username" />
    </bean>

    <bean id="shaPasswordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <constructor-arg value="256" />
    </bean>

    <bean id="customAwareLoginUrlAuthenticationEntryPoint"
          class="net.okjsp.user.service.CustomAwareLoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/user/login" />
    </bean>

    <sec:authentication-manager id="authenticationManager">
        <sec:authentication-provider user-service-ref="userServiceImpl">
            <sec:password-encoder ref="shaPasswordEncoder">
                <sec:salt-source ref="saltSource"/>
            </sec:password-encoder>
        </sec:authentication-provider>
    </sec:authentication-manager>

</beans>