<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:global-method-security secured-annotations="enabled" />

    <sec:http auto-config="true" use-expressions="true"  >
        <sec:intercept-url pattern="/**" access="permitAll" />
        <sec:form-login login-page="/member/login" login-processing-url="/member/login/process"
                        username-parameter="login_id" password-parameter="password" />
        <sec:logout logout-url="/member/logout" delete-cookies="J_SESSIONID" />
        <sec:logout />
    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="test" authorities="ROLE_USER" password="test" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>

</beans>